html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#title:active, #manage:active {
    border: solid gray;
    border-radius: 20px;
    padding: 5px;
}


@media (min-width: 280px) {
    html {
        font-size: 6px;
    }
}

@media (min-width: 320px) {
    html {
        font-size: 7px;
    }
}

@media (min-width: 375px) {
    html {
        font-size: 8px;
    }
}

@media (min-width: 425px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

#page-container {
    position: relative;
    min-height: 100%;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: 5px 0;
}